#contacto {

    border: 0px solid black;
    width: 80%;
    margin: auto;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}

#contacto input{

    display: block;
    margin-bottom: 25px;
    margin-top: 6px;
    font-size: 23px;

}

#contacto .user_info {

    margin: 30px;
    margin-left: 30px;

}

#contacto #textcom {

    float: right;
    color: white;
    margin: 50px;
    font-size: 25px;
    border: 0px solid black;
    border-radius: 4px;
    text-align: center;

}
